@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');

/* body */
body {
    width: 100%;
    margin: 0%;
}

#maindivheader {
    background-color: #1f2937;
    margin-top: -20px;
    margin-bottom: -20px;
    
}

.headerwrap   {
    display:inline-block;
}

/* section 1 */
#maindivsec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 50vh;
    padding-left: 20%;
    padding-right: 20%;

}

#col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 200px;
    width: auto;
    
}

#col2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 200px;
    width: auto;
    background-color: grey;
    color: #e5e7eb;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    margin-left: 5em;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 2em;
    padding-bottom: 2em;

}

#col1-h1 {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0%;
}

#col1-p {
    color: #e5e7eb;
    font-weight: 400;
    font-size: 18px;    
}

#col1-btn {
    display: block;
    width: 30%;
    border: none;
    border-radius: 12px;
    padding: 10px 25px 10px 25px;
    color: #e5e7eb;
    font-weight: 700;
    font-size: 18px;
    background-color: #3882f6;
    
}


/* section 2 */