@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');

/* body */
body {
    width: 100%;
    margin: 0%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;

}

#maindivheader {
    background-color: #1f2937;
    margin-top: -20px;
    margin-bottom: -20px;
    
}

/* header */

header {
    background-color: #1f2937;
    margin: 0%;
    padding: 0%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Roboto', sans-serif;
    
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
    float: left;
    font-size: 40px;
    color: #e5e7eb;
    padding: 0px 0;

}

nav {
    float: right;
}

nav ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 45px;
    
}

li a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

/* section 1 */
#maindivsec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 50vh;
    padding-left: 20%;
    padding-right: 20%;

}

#col1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 200px;
    width: auto;
    
}

#col2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 200px;
    width: auto;
    background-color: grey;
    color: #e5e7eb;
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
    margin-left: 5em;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 2em;
    padding-bottom: 2em;

}

#col1-h1 {
    color: #f9faf8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0%;
}

#col1-p {
    color: #e5e7eb;
    font-weight: 400;
    font-size: 18px;    
}

#col1-btn {
    display: block;
    width: 30%;
    border: none;
    border-radius: 12px;
    padding: 10px 25px 10px 25px;
    color: #e5e7eb;
    font-weight: 700;
    font-size: 18px;
    background-color: #3882f6;
    
}


/* section 2 */

#maindivsec2 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 25%;
    padding-right: 25%;
    
}

.divsec2h2 {
    text-align: center;
    padding-top: 50px;
    margin: 0%;
    
}

#card-wrapper {
    text-align: center;
    padding-right: 40px;
    padding-left: 40px;
}

.group1 {
    border: #3882f6;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    margin: 0%;
    padding:0%;
    height: 150px;
    width: 150px;
}

/* section 3 */

#maindivsec3 {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    margin: 0%;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 30%;
    padding-right: 30%;
}

.sec3p1 {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 0%;
}

.sec3p2 {
    text-align: right;
    font-weight: 700;
    margin: 0%;
    padding: 10px 0;

}

/* section 4 */

#maindivsec4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;

    height: 40vh;
    padding-left: 20%;
    padding-right: 20%;
}

.sec4div2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #3882f6;
    width: 100%;
    border-radius: 12px;
    height: 150px;
}


.col1sec4 {
    
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    padding-left: 150px;
    

}   

.p1 {
    font-size: larger;
    font-weight: 700;
    margin: 0%;
  
}

.p2 {
    font-size: medium;
    font-weight: 400;
    margin: 0%;
   
}

.col2sec4 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25%;
}

.sec4btn {
    display: block;
    width: 100%;
    border: solid;
    border-width: 2px;
    border-color: #f9faf8;
    border-radius: 5px;
    color: #e5e7eb;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    background-color: #3882f6;
}

/* footer */

#maindivfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    height: 10vh;
}

#maindivfooter p {
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
}